@use 'helpers' as *;

.slider {
    &__container {
        overflow: hidden;
        width: 100%;

        @include mobile-above {
            overflow: visible;
        }
    }

    &__wrapper {
        display: flex;
        column-gap: rem(80);
        row-gap: rem(30);
        touch-action: pan-y;
        -webkit-user-drag: none;

        @include tablet {
            column-gap: rem(30);
        }

        @include mobile-above {
            justify-content: center;
            flex-wrap: wrap;
            transform: none;
            cursor: default;
        }
    }

    &__slide {
        width: 100%;
        max-width: rem(340);
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }
}